<!DOCTYPE html>
<html lang="en" data-theme="{{ .ThemeMode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .AppName }} {{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/colors.css" />
  </head>
  <body>
    <h1 class="header">{{ template "header" . }}</h1>
    {{ if .IsAuth }}
    {{ template "content" . }}
  {{ else }}
    {{ template "auth" . }}
    {{ end }}
  </body>
</html>
